
.centering{

    display: block;
    margin-left: auto;
    margin-right: auto;


}


#first{

    display: inline-block;
    margin-left: 300px;
}

#second{

    display: inline-block;

}

#third{
    display: inline-block;
    margin-left: 30px;


}

#order{
    display: inline-block;
    margin-left: 200px;

}

#metable{


}