
<!-------------------------------------------------------
----------------------------------------------------------
---------------------------  OBSOLETE
----------------------- FOR
-------------- NOW
-->

<div>
    <h2>Welcome</h2>
</div>

<div>
<br><br>
<table>
    <thead>
    <tr>
        <th colspan="4" style="text-align:center">Market By Order</th>
    </tr>
    <tr>
    <th colspan="2" style="text-align:center">Buy Order </th>
    <th colspan="2" style="text-align:center">Sell Order</th>
    </tr>
    <tr>
        <th>Volume</th>
        <th>Price</th>
        <th>Volume</th>
        <th>Volume</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td>A</td>
        <td>B</td>
        <td>C</td>
        <td>D</td>
    </tr>
    </tbody>
    </table>
</div>