





<div id="first">
    <br><br>
    <table>
        <thead>
        <tr>
            <th colspan="6" style="text-align:center">Market By Price</th>
        </tr>
        <tr>
            <th colspan="3" style="text-align:center">Buy Order </th>
            <th colspan="3" style="text-align:center">Sell Order</th>
        </tr>
        <tr>
            <th>#</th>
            <th>Volume</th>
            <th>Price</th>
            <th>Volume</th>
            <th>Volume</th>
            <th>#</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>A</td>
            <td style="text-align:center">B</td>
            <td>C</td>
            <td>D</td>
        </tr>
        </tbody>
    </table>
</div>



<div id="second">
    <br><br>
    <table>
        <thead>
        <tr>
            <th colspan="4" style="text-align:center">Market By Order</th>
        </tr>
        <tr>
            <th colspan="2" style="text-align:center">Buy Order </th>
            <th colspan="2" style="text-align:center">Sell Order</th>
        </tr>
        <tr>
            <th>Volume</th>
            <th>Price</th>
            <th>Volume</th>
            <th>Volume</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>A</td>
            <td>B</td>
            <td>C</td>
            <td>D</td>
        </tr>
        </tbody>
    </table>
</div>

<div id="third">
    <img src="micro.jpg" alt="Micro Logo">
</div>